.App-header {
  background-color: #282c34;
  height: 3.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 0;
}

.project-list {
  padding: 1em;
  width: 250px;

  .submenu {
    margin-left: 1em;
    min-height: 1.5em;
  }

  .highlighted {
    background-color: pink;
  }
}

.inventory-view {
  width: 30vw;

  &.collapsed {
    width: 30px;
  }
}

.project-view {
  width: 100%;
}
